@font-face {
    src: url("~/assets/fonts/JosefinSans-Regular.ttf") format("truetype");
    font-family: "Josefin";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    src: url("~assets/fonts/Rubik-Regular.ttf") format("truetype");
    font-family: "Rubik";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    src: url("~assets/fonts/Nunito-Regular.ttf") format("truetype");
    font-family: "Nunito";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }