.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  &__content {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 48px - 80px);
    max-width: 1200px;
    padding-top: 24px;
  }
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;

  &__content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    // background: #fffade;
    justify-content: flex-start;
    align-items: center;
    padding: 18px;
  }

  &__title {
    margin: 0 auto;
  }

  &__description {
    margin-top: 10px;
  }
}

.btn {
  cursor: pointer;
  transition: 0.4s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  &--primary {
    height: 46px;
    padding: 0 20px 0 20px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    background: linear-gradient(
      63deg,
      rgba(60, 13, 96, 1) 0%,
      rgba(96, 10, 153, 1) 24%,
      rgba(203, 168, 227, 1) 50%,
      rgba(82, 6, 135, 1) 76%,
      rgba(64, 6, 105, 1) 100%
    );
    background-size: 400%;
    border-radius: 20px;
    z-index: 1;

    &:hover {
      animation: animate 8s linear infinite;
    }
    @media (max-width: 600px) {
      font-size: 20px;
    }
  }

  &--secondary {
    height: 42px;
    font-size: 1em;
    background: $bg-light;
    box-shadow: $box-shadow--default;
    color: $primary-dark;
    &:hover {
      box-shadow: $box-shadow--hard;
    }
  }

  &--restart {
    height: 52px;
    border: 1px solid $primary-dark;
    background-color: $white;
    color: $primary-dark;
    border-radius: 20px;
    min-width: 100px;
    padding: 12px;
    font-size: 20px;
    &:hover {
      background-color: $bg-secondary;
    }
  }

  &--block {
    width: 100%;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.f-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: $box-shadow--default;
  &:hover {
  box-shadow: $box-shadow--hard;
  }
}

//margins

.mt-20 {
  margin-top: 20px;
}

.bg-light {
  background-color: #fffade;
}

.bg-dark {
  background: rgb(17, 24, 39);
}

.text-light {
  color: #fffade;
}

.text-dark {
  color: #202639;
}

.highlighted {
  color: #4f3a85;
  letter-spacing: 0.6px;
}

.modal-content {
  padding: 35px 20px;
}

.btn-icon {
  height: 16px;
  width: 16px;
  margin-right: 16px;
  fill: currentColor;
}
