//colors
$gradient-space: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
$primary-dark: #202639;
$danger: #eb5234;
$yellow-bg: rgba(247, 182, 2, .6);
$white: #fff;
